* {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Ümumi div */
.container {
  width: 100%;
  height: auto;
}

/* Navbar */

.navbar {
  width: 100%;
  height: 164px;
  background-color: rgba(33, 33, 33, 1);
  margin-top: 0;
}

.navtop {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}
.search input {
  width: 277px;
  height: 44px;
  border-radius: 30px;
  padding: 10px;
}
.smpwoodul {
  margin-top: 30px;
}
.smpwoodul ul {
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  gap: 33.75px;
}
.smpwoodul li {
  color: white;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

.smpwoodul ul li a{
    color: white;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.smpwoodul ul li a:hover{
    color: rgba(125, 184, 0, 1);
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  text-decoration: underline;
}

.smpwoodend {
  color: white;
  display: flex;
  gap: 15.5px;
  font-size: 20px;
}

.smpwoodend p {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: center;
}

.navimage {
  width: 100%;
  height: 174px;
  object-fit: cover;
  background-position: center;
  background-image: url(/assets/images/image\ 41.png);
}

.navimage h3 {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  opacity: 0.7;
  margin-left: 87px;
  padding-top: 20px;
}

.navimage h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: rgba(255, 255, 255, 1);
  margin-top: 52px;
  margin-left: 87px;
}

/* Sol menu */

.catalog {
  width: 100%;
  height: 1600px;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.shopping {
  width: 100%;
  height: auto;
}

.shopping-card {
  width: 278px;
  height: 350px;
  margin-top: 57px;
  margin-left: 75px;
}

.shopping-card h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 26px;
}

.shopping-card h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: rgba(79, 79, 79, 1);
  margin-bottom: 6px;
  padding: 10px;
}

.ccard {
  width: 100%;
  height: auto;
}

.compare-card {
  width: 278px;
  height: 200px;
  margin-top: 57px;
  margin-left: 75px;
}

.compare-card h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 26px;
}

.compare-card h1 span{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 26px;
  color: rgba(130, 130, 130, 1);
}

.compare-card p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 4px;
  padding: 10px;
  text-decoration: underline;
  color: rgba(33, 33, 33, 1);
}

.compare-icon{
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 25px;
}
.compare{
    width: 96px;
    height: 38px;
    border: none;
    border-radius: 2px;
    background-color: rgba(125, 184, 0, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 700;
}

.compare:hover{
    background-color: #c1dd85;
    cursor: pointer;
}

.compare-icon h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 4px;
  padding: 10px;
  text-decoration: underline;
}

.compare-icon h5:hover{
    cursor: pointer;
    color: #3d0c0c;
}
.my-list{
    
  width: 278px;
  height: 100px;
  margin-top: 57px;
  margin-left: 75px;
}

.my-list h1{
      font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 26px;
}

.my-list p{
      font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 18px;
}

/* Sol Üst Hissə */

.chairnav{
  width: 80%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
  margin-left: 30px;
}

.chair-text{
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 10px;
  align-items: center;
}

.chair-text p{
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: rgba(130, 130, 130, 1);
}


.chair-card{
  width: 90%;
   display: flex; 
   justify-content: start;
   flex-wrap: wrap; 
   
}

.chcard{
  width: 230px;
  height: 425px;
  margin-left: 40px ;
  margin-top: 30px;
 
}

.chcard-img{
  width: 220px;
  height: 308px;
  background-color: rgba(255, 255, 255, 1);
}

.chcard-img img{
  width: 220px;
  height: 238px;
  padding-top: 10px;
}
.chcard h1{
  margin-top: -20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;

}
.chcard-price{
  display: flex;
  justify-content: start;
  gap: 15px;
}

#card-price{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: rgba(130, 130, 130, 1);
  text-decoration: line-through;
}


.chcard-price p{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
}


.chcard-stat{
  display: flex;
  justify-content: start;
  margin-top: 10px;
}

.chcard-review{
  margin-left: 20px;
}

.chcard-review p{
   font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: rgba(130, 130, 130, 1);
  text-decoration: underline;
}

.page{
  width: 90%;
  display: flex;
  justify-content: end;
  margin-top: 30px;
}


.finish{
    background-color: black;
    display: flex;
    margin-top: 100px;
    gap: 240px;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 178px;

}

.policy{
    color: #A2A2A2;
    display: flex;
    gap: 15px;
      font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 14px;
}
.follow p{
    color: #A2A2A2;
      font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 14px;
}
.follow{
    display: flex;
    gap: 15px;
    padding-right: 30px;
}